{{>head}}

    {{>navbar}}
    <div class="row">
        <div class="col-8">
            <h1>MassEffect Andromeda</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos delectus architecto totam minima ab distinctio, ratione perspiciatis possimus incidunt. Quas assumenda libero voluptatibus unde vero recusandae voluptates iste doloribus tempore.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/masseffectAndromedaWIDE2.jpg" alt="" class="img-thumbnail">
        </div>

    </div>

{{>footer}}